@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Formato general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background-color: #dbdbdb;
}

/* Header */


.background{
    background-color: #dbdbdb;
}

.nav-item{
    font-size: 28px;
    margin-left: 6px;
    border-left: 5px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 20px;
}

.nav-first{
    border-left: 0px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 0px;
}

.navbar-nav{
    margin-left: auto;
}

nav a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
  }

.navbar-border{
    border-left: 5px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 20px;
}

.logo-nav {
    margin-top: 40px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

nav {
    position: sticky;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 2;
}


/* Footer */

.container-fluid{
    flex-wrap: nowrap !important;
}

.footer{
    display:flex; 
    justify-content:end; 
    margin-right: 15%;
}

.logo-footer{
    width: 35px;
    height: 35px;
}


.background-footer{
    background-color: rgb(94, 94, 94);
}

.texto_footer{
    margin-left: 15%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: left;
    display: flex;
}



/* body index */

.titulo_index{
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 60px;
}

.parrafo_index{
    width: 90%;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-left: 5%;
}

.imagen_index{
    width: 100%;
    height: 100%;
}

/* body sobre mi */

.titulo_sobmi{
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 60px;
}

.subtitulo_sobmi{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 60px;
}

.parrafo_sobmi{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.imagen_sobmi{
    width: 100%;
    height: 100%;
}

.last{
    padding-bottom: 100px;
}

/* body proyectos */

.subtitulo_proyectos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 25px;
    font-size: 40px;
}

.parrafo_proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-bottom: 50px;
}

.imagen_proyectos{
    width: 70%;
    margin-bottom: 25px;
}

.titulo_proyectos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 60px;
}

.contenedor_imagen{
    text-align: center;
}

.imagenes_videoclips{
    width: 630px;
    margin-bottom: 25px;
}

.img_videoclips_1{
    width: 630px;
    margin-bottom: 25px;
}

.parrafo_videoclips{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-bottom: 100px;
}

/* body fotos */

.titulo_fotos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 100px;
    font-size: 60px;
}

.fotos{
    margin-left: 300px;
    margin-right: 300px;
}
.img_fotos{
    width: 100%;
    height: 95%;
    margin-bottom: 50px;
}

.img_carrusel{
    object-fit: fill;
    margin-left: 14%;
}

.titulo_numismatica{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 100px;
    font-size: 60px;
}


.img_numismatica{
    height: 90%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.texto_numismatica{
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
    font-size: 22px;
    text-align: left;
    margin-bottom: 50px;
}

/* Body Contacto */

.body_contacto{
    margin-left: 300px;
    margin-right: 300px;
}

.img_contacto{
    object-fit: cover;
    margin-top: 100px;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
}

.titulo_contacto{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
}

.texto_contacto{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 100px;
}

.formulario_contacto{
    margin-bottom: 100px;
}
.text-area-form{
    height: 100px;
}




