@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* Formato general */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */

body {
    background-color: #dbdbdb;
}

/* Header */

.bg-body-tertiary{
    background-color: #dbdbdb;
}

.background{
    background-color: #dbdbdb;
}

.nav-item{
    font-size: 28px;
    margin-left: 6px;
    border-left: 5px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 20px;
}

.nav-first{
    border-left: 0px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 0px;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-border{
    border-left: 5px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 20px;
}

.lista-nav li{
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    display: inline-block;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    border-left: 5px solid;
    border-color: rgb(209, 209, 209);
    padding-left: 20px;
    color: rgb(75, 75, 75);
}

.logo-nav {
    margin-top: 40px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

nav {
    position: sticky;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 2;
}

.nav_izquierda{
    border: none;
}

/* Footer */

.footer{
    display: flex !important;
}


.logo-footer{
    width: 4%;
    height: 4%;
    margin-left: auto;
}


.background-footer{
    background-color: rgb(94, 94, 94);
}

.texto_footer{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: left;
}


.logos_footer img{
    margin-left: 10px;
    width: 4%;
    height: 4%;
}


/* body index */

.titulo_index{
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 60px;
    margin-left: 30px;
}

.parrafo_index{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: justify;
}

.imagen_index{
    width: 100%;
    height: 130%;
}

/* body sobre mi */

.titulo_sobmi{
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 25px;
    font-size: 60px;
}

.parrafo_sobmi{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.imagen_sobmi{
    width: 100%;
    height: 100%;
}

/* body proyectos */

.caja_proyectos{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}

.subtitulo_proyectos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 25px;
    font-size: 40px;
}

.parrafo_proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-bottom: 50px;
}

.imagen_proyectos{
    width: 600px;
    margin-bottom: 25px;
}

.titulo_proyectos{
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 60px;
}

.imagenes_videoclips{
    width: 630px;
    margin-bottom: 25px;
}

.img_videoclips_1{
    width: 630px;
    margin-bottom: 25px;
}

/* body fotos */

.titulo_fotos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 100px;
    font-size: 60px;
}

.fotos{
    margin-left: 300px;
    margin-right: 300px;
}
.img_fotos{
    width: 100%;
    height: 95%;
    margin-bottom: 50px;
}

.titulo_numismatica{
    font-family: 'Roboto', sans-serif;
    margin-left: 300px;
    text-align: left;
    margin-bottom: 100px;
    font-size: 60px;
}

.caja_numismatica{
    margin-left: 300px;
    margin-right: 300px;
    text-align: right;
}

.img_numismatica{
    height: 500px;
    width: 350px;
    margin-left: 550px;
}

.texto_numismatica{
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    font-size: 22px;
    text-align: left;
    margin-bottom: 50px;
}

/* Body Contacto */

.body_contacto{
    margin-left: 300px;
    margin-right: 300px;
}

.img_contacto{
    margin-top: 100px;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
}

.titulo_contacto{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin-bottom: 50px;
}

.texto_contacto{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 100px;
}

.formulario_contacto{
    margin-bottom: 100px;
}




