.subtitulo_proyectos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-bottom: 25px;
    font-size: 40px;
}

.parrafo_proyectos{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-bottom: 50px;
}

.imagen_proyectos{
    width: 70%;
    margin-bottom: 25px;
}

.titulo_proyectos{
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 60px;
}

.contenedor_imagen{
    text-align: center;
}

.imagenes_videoclips{
    width: 630px;
    margin-bottom: 25px;
}

.img_videoclips_1{
    width: 630px;
    margin-bottom: 25px;
}

.parrafo_videoclips{
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    margin-bottom: 100px;
}
